@trackeer:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/projects/23460397/packages/npm/:_authToken=TQfKJC6pKD-ckgs69KCx
//gitlab.com/api/v4/packages/npm/:_authToken=TQfKJC6pKD-ckgs69KCx